.header {
  height: 250px;
  background: url("../slike/header.jpg");
  background-size: 100% 100%;
}

.menu {
  height: 50px;
  background-color: #b6dde8;
  color: black;
  font-size: 25px;
  padding-top: 5px !important;
}

a,
a:visited,
a:hover {
  color: black;
  text-decoration: none;
}

.content {
  vertical-align: middle;
  position: relative;
}

.footer {
  height: 50px;
  background-color: #b6dde8;
  font-size: 20px;
  color: black;
  padding-top: 8px !important;
}

.photos {
  padding-bottom:20px;
}

.item {
  padding-bottom:30px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}